@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=Handlee&family=Itim&family=Voltaire&display=swap');

/*
font-family: 'Acme', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Handlee', cursive;
font-family: 'Itim', cursive;
font-family: 'Voltaire', sans-serif;
*/
* { margin: 0; padding: 0;}
body{
    background-color: tomato;
}

.container > .navbar > img{width:max-content; max-height: auto;}
.container {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fotoo.jpg); opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 1px 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 8%;
  transition: all 0.3s ease-in-out;
}
.container.active{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0);
}
.container.active .navbar{
    padding: 8px 0;
}
.container > .row > .logo {margin: 0 30% 0 2%;}
.container > .row > .navbar > ul > li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.container > .row > .navbar > ul > li > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Itim', cursive;
    font-size: 1.2rem;
}
.container > .row > .navbar > ul > li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: rgba(0, 0, 0, 0.774);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.container > .row > .navbar > ul > li:hover::before{
    width: 100%;
}
.container > .row > .navbar > ul > li:hover{color: rgb(255, 255, 255); font: bold;}
.container > h1 {
    font-family: 'Amatic SC', cursive; 
    margin: -5% 5% ;
    font: bold; 
    font-size: 250%;
}
.container > h3 {
    font-family: 'Handlee', cursive;
    font-size: 200%;
    margin: 9% 3%;
}
/*
nav > .row > a{text-decoration: none; color: rgb(0, 0, 0); font-size: 150%;  padding: 1%; font-family: 'Itim', cursive;}
nav{
    width: 100%;
    height: 10vh;
    background-color: wheat;
    margin-bottom: 3%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}
nav > .row > .navbar:hover{
    background: wheat;
    opacity: 0.5;
}
.row{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
}*/
footer > .row > a > img{margin: 1vh 0;}
footer{
    width: 100%;
    min-height: 20vh;
    background-color: wheat;
    /*bottom: 0;*/
    margin-top: 8%;
}
#proyectos > h3 {font-family: 'Voltaire', sans-serif; font: bold; font-size: 130%; margin: 2%}
.containers{
    font-family: 'Voltaire', sans-serif;
    font: bold;
    font-size: 120%;
    margin: 2%;
}
#proyectos > .containers > a > img{margin: 2%;}
/*#proyectos{
    background-color: rgba(157, 218, 218, 0.808);
} */
.verMas > a {text-decoration: none; color: black;}
.verMas > a > h3:hover {background: wheat; opacity: 0.5;}
.verMas{
    width: 94%;
    height: 5vh;
    background-color: wheat;
    padding: 1%;
    margin: 2%;
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font: bold;
    font-size: 120%;
}
.button{
    width: 15%;
    background-color: wheat;
    font-family: 'Voltaire', sans-serif;
    font: bold;
    font-size: 120%;
    text-decoration: none;
    padding: 1%;
    margin: 0 6%;
    text-align: center;
    display: block;
    position: inherit;
}
.visible{
    display: block;
    visibility: visible;
}
.oculto{
    display: none;
    visibility: hidden;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tittle{
    margin: 1% 41%;
    font-family: 'Acme', sans-serif;
}
h4{
    margin: 0 40%;
}
.medio > img {
    max-width: 550px;
    max-height: 480px;
    margin: 1%;
}
.arriba{
    position: fixed;
    line-height: 64px;
    bottom: 30px;
    right: 30px;
    text-align: center;
    z-index: 100;
}
