@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=Handlee&family=Itim&family=Voltaire&display=swap');

/*
font-family: 'Acme', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Handlee', cursive;
font-family: 'Itim', cursive;
font-family: 'Voltaire', sans-serif;
*/
* { margin: 0; padding: 0;}

html > body{
    background-color: wheat;
}

/*------Navbar------*/
/* Default height for small devices */
#intro-example {
  height: 400px;
}
/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 700px;
  }
}

@media (min-width: 1px) and (max-width: 987px) {
    header > nav > .navbar {
        display: none;
    }
    #sidenav {
        display: block;
        max-width: 96%;
        position: fixed;
    }
    .slideSkill{
        display: none; 
    }
    .d-flex > .text-white > h1 {
        display: none;
    }
    .d-flex > .text-white > h5{
        display: none;
    }
    .arriba > a > img{
        width: 32px;
        height: auto;
    }
    .footer > .socialMedia > #github > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #git > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #whatsapp > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #wsp > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #correo > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #correoA > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #linkedin > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #linked > a > img{
        width: 50px;
        height: auto;
    }
  }

        /*-- 768px --*/
@media (min-width: 988px) and (max-width: 1900px) {
    .navbar {
        display: block;
        width: 98%;
    }
    #sidenav{
        display: none;
    }
    .slideHidden{
        display: none;
    }
    .textMobile{
        display: none;
    }

}

.img{
    background-image: url('../assets/img/fotoo.jpg');
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-left: 80%;
}
nav {
    position: fixed;
    box-shadow: wheat;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }
  nav.active{
    background-color: rgba(179, 179, 179, 0.671);
    box-shadow: 0 2px 10px rgba(131, 131, 131, 0.671);
  }
  nav.active .navbar{
    padding: 6px 0;
  }
  nav.active > .navbar > ul > li > a {color: white; font: bold;}
  nav.active > .navbar > ul > li::before {background: white; font: bold;}
  nav.active > .navbar > ul > li > a:hover {color: rgba(255, 255, 255, 0.623); font: bold;}
  nav > .navbar > button{
    border-radius: 7%;
    padding: 0.4%;
    background-color: rgba(49, 37, 114, 0.623);
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .navbar{
    margin: auto;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none !important;
  }
  .navbar > ul > li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  .navbar > ul > li > a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
  }
  .navbar > ul > li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: rgba(255, 255, 255, 0.774);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
  }
  .navbar > ul > li:hover::before{
    width: 100%;
  }
  .navbar > ul > li > a:hover{color: rgba(255, 255, 255, 0.623); font: bold;}
  /*---------------End Navbar--------------*/
  
  /*-- Start Sidenav Style --*/
  .sidenav > .side-nav > ul > .nav-li > .nav-link{color: #ffffff; padding: 0.4375em; margin-top: 1%;}
  .sidenav{
      box-shadow: 0 0.1875em 0.375em rgba(39, 24, 119, 0.671);
      z-index: 1000;
  }
  .sidenav > .imgSidenav > img {width: 30%; height: auto;}
  .sidenav > .imgSidenav > button {color: #ffffff;}
  .imgSidenav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;
  }
  .side-nav{
      min-height: 99vh;
      width: 60%;
      top: 0;
      background-color: rgba(136, 136, 136, 0.966);
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      color: #ffffff;
      font-size: 1.125em;
      right: 0;
      position: absolute;
  }
  .side-nav > button > i{color: #ffffff;}
  .side-nav > button{margin-left: 80%; margin-top: 5%;}
  
  /*-- End Sidenav Style --*/

.d-flex{
    margin: 0 5%;
}

.d-flex > .text-white > h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.d-flex > .text-white > h5{
    font-family: 'Handlee', cursive;
    color: rgb(0, 0, 0);
}

.textMobile{
    margin: 5% auto;
}
.textMobile > h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.textMobile > h5{
    font-family: 'Handlee', cursive;
    color: rgb(0, 0, 0);
}

/*------Navbar------*/

/*------Carousel-------*/
.carouselSkill{
    margin: 2% auto;
    padding: 3%;
}
.carouselSkill > .slideSkill{padding: 1%;}

.slideHidden{
    margin: 2% auto;
    padding: 10%;
}
/*------Carousel-------*/
.padded {
    padding: 100px 0;
  }
  .avatar {
    width: 30px;
    border-radius: 50%;
  }
  .avatar-bordered {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  .avatar-large {
    width: 50px;
  }
  .card {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .card-description h2 {
    font-size: 22px;
  }
  .card-description p {
    font-size: 15px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }
  .features img {
    width: 100px;
  }
  .features h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .features p {
    font-size: 15px;
    font-weight: lighter;
  }
/*------Projects------*/
#projects > h3{
    margin: 2% auto;
    color: rgb(0, 0, 0);
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
}
#projects{
    margin: 1% auto;
    padding: 2%;
}
.verMas > a {text-decoration: none; color: black;}
.verMas > a > h3:hover {color: rgb(116, 114, 111); opacity: 0.8;}
.verMas{
    padding: 1%;
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font: bold;
}
.card-title{
    font-family: 'Voltaire', sans-serif;

}
/*-----Projects-----*/
/*-----About-----*/
.containers{
    margin: 2% auto;
    padding: 2%;
    text-align: justify;
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 110%;    
}
.containers > h3{
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 3% auto;
}
/*-----About-----*/
.visible{
    display: block;
    visibility: visible;
}
.oculto{
    display: none;
    visibility: hidden;
}
.arriba{
    position: fixed;
    line-height: 64px;
    bottom: 125px;
    right: 15px;
    text-align: center;
    z-index: 100;
}
/*-----Footer-----*/
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
#contact > h5{
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 1%;
    margin: 1% 1%;
}