@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=Handlee&family=Itim&family=Voltaire&display=swap');

/*
font-family: 'Acme', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Handlee', cursive;
font-family: 'Itim', cursive;
font-family: 'Voltaire', sans-serif;
*/
* { margin: 0; padding: 0;}

html > body{
    background-color: wheat;
}

/*------Navbar------*/
/* Default height for small devices */
#intro-example {
  height: 400px;
}
/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 700px;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
    .slideSkill{
        display: none; 
    }
    .d-flex > .text-white > h1 {
        display: none;
    }
    .d-flex > .text-white > h5{
        display: none;
    }
    .arriba > a > img{
        width: 32px;
        height: auto;
    }
    .footer > .socialMedia > #github > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #git > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #whatsapp > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #wsp > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #correo > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #correoA > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #linkedin > a > img{
        width: 50px;
        height: auto;
    }
    .footer > .socialMedia > #linked > a > img{
        width: 50px;
        height: auto;
    }
  }

        /*-- 768px --*/
@media (min-width: 768px) and (max-width: 1900px) {
    .slideHidden{
        display: none;
    }
    .textMobile{
        display: none;
    }

}
.nav > img{
    margin:0 50% 0 10%;
    width: 8%;
    height: 8%;
}
nav{
    box-shadow: none !important;
}
.img{
    background-image: url('../assets/img/fotoo.jpg');
}
.collapse > ul > li > a{font-family: 'Itim', cursive;}
.collapse > ul > li > a:hover{color: white;}

.d-flex{
    margin: 0 5%;
}

.d-flex > .text-white > h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.d-flex > .text-white > h5{
    font-family: 'Handlee', cursive;
    color: rgb(0, 0, 0);
}

.textMobile{
    margin: 5% auto;
}
.textMobile > h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.textMobile > h5{
    font-family: 'Handlee', cursive;
    color: rgb(0, 0, 0);
}

/*------Navbar------*/

/*------Carousel-------*/
.carouselSkill{
    margin: 2% auto;
    padding: 3%;
}
.carouselSkill > .slideSkill{padding: 1%;}

.slideHidden{
    margin: 2% auto;
    padding: 10%;
}
/*------Carousel-------*/

/*------Projects------*/
#projects > h3{
    margin: 2% auto;
    color: rgb(0, 0, 0);
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
}
#projects{
    margin: 1% auto;
    padding: 2%;
}
.verMas > a {text-decoration: none; color: black;}
.verMas > a > h3:hover {color: rgb(116, 114, 111); opacity: 0.8;}
.verMas{
    padding: 1%;
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font: bold;
}
.card-title{
    font-family: 'Voltaire', sans-serif;

}
/*-----Projects-----*/
/*-----About-----*/
.containers{
    margin: 2% auto;
    padding: 2%;
    text-align: justify;
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 110%;    
}
.containers > h3{
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 3% auto;
}
/*-----About-----*/
.visible{
    display: block;
    visibility: visible;
}
.oculto{
    display: none;
    visibility: hidden;
}
.arriba{
    position: fixed;
    line-height: 64px;
    bottom: 125px;
    right: 15px;
    text-align: center;
    z-index: 100;
}
/*-----Footer-----*/
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
#contact > h5{
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 1%;
    margin: 1% 1%;
}